generator/src/test/resources/classes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="package"/>
              <xs:element type="xs:string" name="classcomment"/>
              <xs:element type="xs:string" name="author"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="template"/>
              <xs:element name="instancevariables">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="instancevariable" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="required"/>
                            <xs:attribute type="xs:string" name="type" use="required"/>
                            <xs:attribute type="xs:string" name="scope" use="required"/>
                            <xs:attribute type="xs:string" name="cardinality" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="identifier" use="required"/>
            <xs:attribute type="xs:string" name="extends" use="optional"/>
            <xs:attribute type="xs:string" name="implements" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

